* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}
h1{
    
    color: red;
}
.game-over, .game-win {
    text-align: center;
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: black;
    color: white;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-over h1, .game-win h1 {
    font-size: 6rem;
    margin-bottom: 2rem;
}

.game-win h1 {
    color: #28a745;
}

button#ower-game, button#win-game {
    font-size: 1.5rem;
    border-width: 3px;
    padding: 1rem 2rem;
    border-radius: 20px;
    font-weight: 900;
}

button{
    border-radius: 50%;   

}
#logo{    

    
}
#canvas{
    display: block;
}
.inicio{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/background.png);
    background-size: contain;
    background: black;
}
.inicio img{
    height: 100vh;
}   

button#start-game{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    margin: 0 auto;
    background: #00695C;
    border-color: #00695C;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    transition: all .2s ease-in-out;
}

button#start-game:hover {
    background: #004D40;
}
